.filters__container {
  display: flex;
  flex-direction: column;
  width: 100%;
  align-items: center;
  gap: 0.5em;

  .filters__sub-container {
    display: flex;
    justify-content: center;
    width: 100%;

    .filters__title {
      display: flex;
      justify-content: center;
      align-items: center;
      width: 100px;
      height: 50px;
      color: #df1f1fd5;
    }

    .filters__cont-input {
      display: flex;
      justify-content: center;
      align-items: center;
      width: 100%;
      max-width: 280px;

      .filters__input {
        width: 88%;
        margin: 0.2em;
        padding: 0.2em;
        font-size: 1.1em;
        border-radius: 0.51em;
        border: 2px solid #e6a0a0d5;
        box-shadow: 0 0 1em #e6a0a0d5;
      }
    }
  }

  .other__category {
    width: 100%;
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
  }
}