.hotelNav__navbar {
  display: flex;
  position: absolute;
  right: 2em;
  top: 3.8em;

  .hotelNav__list {
    display: flex;
    /* flex-wrap: wrap; */
    gap: 1em;

    .hotelNav__item {
      display: flex;
      align-items: end;
      margin-bottom: 1em;

      .label__item {
        font-size: 1.1em;
        font-weight: 700;
        color: #df1f1fd5;
        background-color: #fff;
        padding: 0.2em 0.8em;
        border-radius: 0.5em;
        text-decoration: none;

        &:hover {
          color: #fff;
          background-color: #df1f1fd5;
          transform: scale(1.08);
        }
      }
    }
  }
}