.form__total-container {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  
  .form__container {
    margin: 2.5em 2em;
    background-color: #cccccc83;
    width: 100%;
    max-width: 500px;
    border: 2px solid black;
    border-radius: 1.2em;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    .form__total {
      width: 100%;

      .form__cont-name {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 100%;
        border-bottom: 2px solid black;
        height: 70px;
        color: #df1f1fd5;
        margin-bottom: 1em;

        .form__name {
          font-size: 2.8em;
          font-weight: 800;
        }
      }

      .form__label {
        display: flex;
        flex-direction: column;
        width: 100%;
        height: 120px;
        padding: 0 3em;

        .form__item {
          font-size: 1.2em;
          font-weight: 600;
          margin-left: 1em;
          margin-bottom: 0.3em;
        }

        .form__option,
        .form__value {
          width: 100%;
          height: 1.85em;
          font-size: 1.7em;
          padding: 0.1em 0.5em;
          border-radius: 0.51em;
          border: 2px solid #e6a0a0d5;
          box-shadow: 0 0 0.8em #e6a0a0d5;
        }
        
        .form__option {
          font-weight: 500;
        }

        .message__error {
          color: red;
          margin-top: 0.2em;
        }
      }
      
      .form__btn {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 100%;
        max-width: 200px;
        height: 50px;
        margin: 0 auto;
        background-color: #df1f1fd5;
        border: none;
        border-radius: 1.5em;
        font-size: 2rem;
        font-weight: 600;
        color: #fff;
        box-shadow: 0 0 .8em #be3333f1;

        &:hover {
          filter: brightness(1.3);
          transform: scale(1.07);
        }
      }
    }
  }

  .info-register {
    width: 100%;
    height: 70px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0.3em 0 1em 0;
    padding: 0 1em;
    gap: 0.3em;
    
    .register_detail {
      font-size: 1.4em;
    }

    .register_detail2 {
      font-size: 1.4em;
    }

    .bnt__register-cont {
      width: 150px;
      
      .btn-register {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 100px;
        max-width: 200px;
        height: 30px;
        margin: 0 auto;
        background-color: #df1f1fd5;
        box-shadow: 0 0 .8em #e02323f1;
        border: none;
        border-radius: 1.5em;
        font-size: 0.8em;
        font-weight: 600;
        color: #fff;

        &:hover {
          filter: brightness(1.3);
          transform: scale(1.07);
        }
      }
    }
  }
}