.comment__container {
  width: 420px;
  display: flex;
  flex-flow: column nowrap;
  padding: 0.6em; 
  border: 1px solid black;
  border-radius: 1em;
  box-shadow: 0.6em 0.6em 0.5em rgba(0, 0, 0, 0.288);
  position: relative;


  .comment__name {
    color: rgb(221, 21, 21);
    font-weight: 800;
  }

  .comment__detail {
    padding: 0 1.5em;
  }
  
  .comment__rating {
    position: absolute;
    right: 0.3em;
    top: 0.3em;
    color: rgb(230, 207, 3);
  }
}

.sin__comments {
  font-size: 1.8em;
}

.title__comment {
  color: rgb(226, 24, 24);
  /* font-size: 3em; */
}